* { box-sizing: border-box; }

header, nav, main, footer { display: block; }

body { background-image: url(SK-collage.jpg);
       background-repeat: repeat;
       backround-size: auto;
       color: #000000;
       font-family: Verdana, Arial, sans-serif; }

main { margin: 20px;
       padding-right: 10px;
       padding-bottom: 10px; }
      
header { color: #8B0000; 
	 background-color: #6495ED; }
         
h1 { text-align: center;
     text-indent: 1em;
     line-height: 150%;
     font-size: 3em;
     font-family: batang;
     text-decoration: underline;
     padding: 10px; }

h2 { text-align: center;
     font-size: 1.3em;
     font-family: serif;
     text-shadow: 1px #191970; }

h3 { text-align: left;
     font-size: 1.2em;
     color: #800000;
     text-decoration: underline;
     text-shadow: 1px 1px #800000 }

h4 { font-size: 1.1em;
     color: #800000;
     text-align: center;
     text-decoration: underline;
     text-shadow: 1px #800000; }

h5 { font-size: 0.7em;
     color: #800000;
     text-shadow: 1px #800000; }

h6 { font-size: 1.1em;
     color: #800000;
     margin-left: 10%;
     margin-right: 10%;
     text-align: center;
     font-family: Serif; }

input, textarea, select { display: block;
		  margin-bottom: 1em;
		  margin-left: 20%; }

input[type=text] { border: 1px solid;
		   border-radius: 4px; }

input[type=email] { border: 1px solid;
		    border-radius: 4px; }

select { border: 1px solid;
	 border-radius: 4px; }

textarea { border: 1px solid;
	   border-radius: 4px; }

input[type=submit] { border: 1px solid;
		     border-radius: 4px; }

input[type=reset] { border: 1px solid;
		    border-radius: 4px; }

.maroon { color: #800000; }

.message { color: #800000;
	      margin-left: 10%;
	      margin-right: 10%; }

.conclusion { color: #800000;
	      margin-left: 20%; }

.popularity { color: #800000;
	      margin-left: 20%;
	      margin-right: 20%; }

p {  font-size: 1.1em;
     padding: 5px;
     font-family: serif;
     color: #8B0000; } 

#info { float: right;
	width: 30%;
	padding-left: 10px; }

#bobo { float: right;
	width: 40%;
	padding-left: 10px; }

table { border: 2px solid #000066; 
        border-collapse: collapse;
	margin-left: 20%;
	margin-right: 20%;
	table-layout: fixed; }

th { padding: 0.5em;
     border: 1px solid #483D8B;
     text-align: center;
     font-weight: bold;
     font-family: Georgia, "Times New Roman", serif;
     text-shadow: 1px 0.5px #667; }

td { padding: 0.5em;
     border: 1px solid #000066; }

.tour { text-align: left; }

.navTable { width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	    border-bottom: 3px solid #B0C4DE;
	    border-right: none;
	    border-left: none;
	    border-top: none;
	    table-layout: fixed;
	    text-align: center; }

.noBorder { border: none; }

a { color: #800000; }

a:link { color: #800000; }

a:visited { color: #800000; }

a:hover { color: #A9A9A9; }
     
nav { float: top;
      width: 100%;
      font-weight: bold;
      font-size: 1.2em; }

nav a { text-decoration: none; }

nav a:link { color: #8B0000; }
nav a:visited { color: #B22222; }
nav a:hover { color: #CD5C5C; }
nav a.active { border-left: 3px solid #778899;
	       border-right: 3px solid #778899;
	       padding-left: 5px;
	       padding-right: 5px; }

.topnav { overflow: hidden; }

.topnav a { display: block;
	    float: left;
	    border-bottom: 2px solid transparent; }

.topnav a:hover { background-color: #4169E1; }

dt { color: #800000;
     font-size: 1.1em;
     font-family: serif;
     text-align: center;
     margin-left: 20%;
     margin-right: 20% }

.cuisine { color: #800000;
	   font-size: 1.1em;
	   font-family: serif;
	   text-align: center;
	   margin-left: 20%;
  	   margin-right: 20%;
  	   width: auto; } 

img { border-color: #000000;
      max-width: 300px;
      max-height: 300px;
      padding: 5px; }

#img { float: left;
       width: 20%; }

.logo { float: left;
	width: 20%; }

.block { display: block;
	 margin-left: auto;
  	 margin-right: auto;
  	 width: auto; }

.center { display: block;
	  margin-left: auto;
  	  margin-right: auto;
  	  width: auto; }

.centerfont { text-align: center; }

.foodname { color: #800000;
	    text-align: center;
	    font-size: 1.5em;
	    text-decoration: underline;
	    font-weight: bold;
	    font-family: batang;
	    text-shadow: 1px 0.3px #667; }

.control { font-weight: bold;
	   text-decoration: underline;
           font-family: Georgia, serif;
	   text-shadow: 1px 0.9px #667; }

.mod { font-weight: bold;
       font-style: none;
       text-decoration: none;
       font-family: Batang;
       font-size: 0.8em;
       text-align: center; }
            
footer { color: #800000;
	 font-size: 1em;
         font-style: italic;
	 text-align: center;
	 padding: 20px; }

footer nav { text-align: left; }
         
#wrapper { background-color: #F0FFFF;
	   color: #483D8B;
	   margin-left: 50px;
	   margin-right: 50px; 
	   margin-bottom: 50px; }

#mobile { display: none; }

#desktop { display: inline; }

@media only screen and (max-width: 1024px) {
body { margin: 0; padding: 0; background-image: none; color: white; }
#wrapper { width: auto; min-width: 0; margin: 0; }
#img { float: none; width: auto; margin: 0px; display: block; margin-left: auto; margin-right: auto; width: 100%;}
h1 { margin: 0; font-size: 2em; line-height: 200%; }
h2 { font-size: 1.5em; line-height: 100%; }
img { max-width: 200px; max-height: 200px; display: block; margin-left: auto; margin-right: auto; width: 100%;}
nav { float: none; width: auto; }
nav li { display: inline-block; }
nav a { padding: 1em; font-size: 1.2em; }
nav ul { text-align: center; padding: 0; margin: 0; }
main { font-size: 90%; margin: 0; padding-left: 2em; }
footer { margin: 0; }
}

@media only screen and (max-width: 768px) {
#info { float: none; width: auto; margin: 0px; padding-bottom: 20px; }
#img { float: none; width: auto; margin: 0px; display: block; margin-left: auto; margin-right: auto; width: 100%;}
header { background-repeat: no-repeat; background-position: center; }
h1 { font-size: 1.8em; line-height: 120%; }
h2 { font-size: 1.2em; line-height: 100%; }
body { font-size: 90%; }
table { margin-left: auto; margin-right: auto; }
img { max-width: 200px; max-height: 200px; display: block; margin-left: auto; margin-right: auto; width: 100%;}
nav a { display: block; padding: 0.2em; font-size: 1.3em; }
nav li { display: block; }
nav ul { text-align: block; }
#mobile { display: inline; }
#desktop { display: none; }
}